<%- include("partials/head.ejs") %>
<body id="home">
<div class="container">
    <%- include("partials/sideMenu.ejs") %>
    <main>
        <main class="new-users">
            <h1 class="txt">Relatórios</h1>
            <form action="#" method="POST">
                <div class="button-container">
                    <button class="view-more-btn">Criar Registro</button>
                </div>
            </form> 
            <form action="/reports/delete" method="POST">
                <div class="button-container2">
                    <button class="view-more-btn" type="submit">Excluir Registro</button>
                </div> 
                <div class="user-list">
                    <!-- Cabeçalho da Tabela -->
                    <div class="table-header">
                        <div class="table-cell">Selecionar</div>
                        <div class="table-cell">Índice</div>
                        <div class="table-cell">Data Colheita</div>
                        <div class="table-cell">Hora Início</div>
                        <div class="table-cell">Hora Término</div>
                        <div class="table-cell">Duração</div>
                        <div class="table-cell">Quantidade Colhida</div>
                        <div class="table-cell">Localização</div>
                        <div class="table-cell">Qualidade</div>
                    </div>
                
                    <!-- Linha da Tabela -->
                    <% harvests.forEach((harvest, i) => { %>
                    <div class="table-row">
                        <div class="table-cell"><input type="checkbox" class="select-record" name="selected_id" value="<%= harvest._id %>"></div>
                        <div class="table-cell"><%= i+1 %></div>
                        <div class="table-cell"><%= new Date(harvest.harvestDate).toLocaleDateString("pt-BR") %></div>
                        <div class="table-cell"><%= harvest.harvestStart %></div>
                        <div class="table-cell"><%= harvest.harvestEnd %></div>
                        <div class="table-cell"><%= harvest.harvestDuration %></div>
                        <div class="table-cell"><%= harvest.harvestedQuantity %></div>
                        <div class="table-cell"><%= harvest.location.locationName %></div>
                        <div class="table-cell"><%= harvest.quality %>/10</div>
                    </div>
                    <% }) %> 
                </form>               
            </div>
        </main>
    </main>

    <!--  Botao darkMode -->
    <div class="right-section">
        <div class="nav">
            <button id="menu-btn">
                <span class="material-icons-sharp">menu</span>
            </button>
            <div class="dark-mode">
                <span class="material-icons-sharp active"></span>
                <span class="material-icons-sharp"></span>
            </div>
            <div class="perfilFT">
                <a href="/profile"><img width="40px" src="/assets/img/icon/perfil.png"></a>
            </div>
        </div>
    
        <!-- Ícone de notificação -->
        <div class="notificacao-container">
            <img src="/assets/img/icon/notificacao.png" alt="Ícone de Notificação" class="notificacao-icone" id="notificacao-icone">
            <span class="badge" id="notificacao-badge">3</span>
        </div>
                        
        <!-- Caixa de notificação -->
        <div class="caixa-notificacao" id="caixa-notificacao">
            <h3>Notificações</h3>
            <ul id="lista-notificacoes">
                <li class="notificacao-item alerta">
                    <p>Atenção chuvas fortes se aproximam, proteja sua Plantação!</p>
                    <button onclick="excluirNotificacao(this)">Excluir</button>
                    <button onclick="gerarAlerta('Nova atualização de sistema disponível!')">Gerar Alerta</button>
                </li>
                <li class="notificacao-item">
                    <p>Alta Temperatura.</p>
                    <button onclick="excluirNotificacao(this)">Excluir</button>
                    <button onclick="gerarAlerta('Seu pedido foi enviado.')">Gerar Alerta</button>
                </li>
                <li class="notificacao-item">
                    <p>Baixa Umidade.</p>
                    <button onclick="excluirNotificacao(this)">Excluir</button>
                    <button onclick="gerarAlerta('Você tem 3 novas mensagens.')">Gerar Alerta</button>
                </li>
            </ul>
            <button id="fechar-caixa" onclick="fecharCaixa()">Fechar</button>
        </div>
    </div>
</div>

<script src="/assets/js/graficosDash.js"></script>   
<script src="/assets/js/dashboard.js"></script>
<script src="/assets/js/notificacao.js"></script>     
</body>
</html>