<%- include("partials/head.ejs") %>
<body>
<div class="container">
    <%- include("partials/sideMenu.ejs") %> 

    <div class="informacoes card">
        <img class="ftPerfilCard" src="<%= user.userImage ? ('/uploads/img/users/' + user.userImage) : '/assets/img/icon/user_profile.png' %>" alt="">
        <h2 class="tituloCardPerfil"><%= user.userName %></h2>
        <p class="txtCardPerfil"><%= user.userEmail %></p>
        <button class="btncard">Editar Perfil</button>

        <a href="/reports"><p class="btn1">Relatórios</p></a>
        <a href="/alerts"><p class="btn2">Alertas</p></a>
    </div> 
   
    <div class="galeria" id="gallery">
        <% images.forEach((img, index) => { %>
        <div class="item">
            <img src="/uploads/img/harvests/<%= img.imageName %>" alt="Foto <%= index + 1 %>">
            <div class="descricao">Dia <%= img.createdAt ? dayjs(img.createdAt).format("DD/MM/YYYY") : '' %></div>
        </div>
        <% }) %>
    </div>

    <div class="btnsFT">
        <a class="btnFT" href="/clawArm">Voltar para a Câmera</a>
        <a class="btnFT">Carregar Foto</a>
    </div>

    <!--  Botao darkMode -->
    <div class="right-section">
        <div class="nav">
            <button id="menu-btn">
                <span class="material-icons-sharp"></span>
            </button>
            <div class="dark-mode">
                <span class="material-icons-sharp active">      
                </span>
                <span class="material-icons-sharp">    
                </span>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/notificacao.js"></script>     
<script src="/assets/js/darkmode.js"></script>
</body>
</html>    